/************************************/
/* BELOW 1345PX (SMALLER DESKTOP) */
/************************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/************************************/
/* BELOW 1200PX (LANDSCAPE TABLETS) */
/************************************/
/* 1200/16 = 75 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
  .workout-title {
    font-size: 2.2rem;
  }
}

/************************************/
/* BELOW 992PX (TABLETS) */
/************************************/
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }
  .users {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 3.6rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .workout-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .workout-title {
    font-size: 2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .pricing-plan {
    width: 85%;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
}
