/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.6

-- 02 COLORS

-Primary : #0171FF
-Tints :  #0166e6
-Shades : #e6f1ff
-Accents : 
-Greys :  #555 #333

-- 03 IMAGES
-- 04 ICONS

-- 05 SHADOWS 

-- 06 BORDER-RADIUS
Default: 9px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}

/* *********************** */
/*  GENERAL REUSABLE COMPONENTS */
/* *********************** */

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 9.6rem;
  padding: 0 3.2rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 9px;
  text-decoration: none;
  transition: 0.3s all;
}
.btn--full:link,
.btn--full:visited {
  background-color: #0171ff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #0166e6;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #e6f1ff;
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

/* *********************** */
/*  HEADER SECTION */
/* *********************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f1ff;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 3.4rem;
}

/* *********************** */
/*  HERO SECTION */
/* *********************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #0166e6;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #0171ff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0166e6;
}
/* *********************** */
/*  HERO SECTION */
/* *********************** */

.section-hero {
  background-color: #e6f1ff;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.users {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.user-imgs {
  display: flex;
}
.user-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #e6f1ff;
}
.user-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.user-text span {
  color: #0166e6;
  font-weight: 700;
}

/* *********************** */
/*  HOW IT WORKS SECTION */
/* *********************** */
.section-how {
  padding: 9.6rem 0;
  background-color: orangered;
}
