/* *********************** */
/*  HEADER SECTION */
/* *********************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f1ff;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 3.4rem;
}

/* *********************** */
/*  HERO SECTION */
/* *********************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #0166e6;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #0171ff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0166e6;
}
/* *********************** */
/*  HERO SECTION */
/* *********************** */

.section-hero {
  background-color: #e6f1ff;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.users {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.user-imgs {
  display: flex;
}
.user-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #e6f1ff;
}
.user-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.user-text span {
  color: #0166e6;
  font-weight: 700;
}

/* *********************** */
/*  partner IN SECTION */
/* *********************** */
.section-partner {
  padding: 4.8rem 0 2.4rem 0;
}
.heading-partner-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.6rem;
  color: hsla(213, 100%, 15%, 0.5);
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logos img {
  height: 5.2rem;
  /* filter: brightness(0) saturate(0) invert(74%) sepia(0%) saturate(0%)
    hue-rotate(180deg) brightness(0%) contrast(100%); */
  /* filter: brightness(50%); */

  /* filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(7496%)
    hue-rotate(206deg) brightness(98%) contrast(107%); */

  filter: brightness(0) saturate(100%) invert(10%) sepia(41%) saturate(2351%)
    hue-rotate(197deg) brightness(92%) contrast(104%);

  opacity: 50%;
}
/* *********************** */
/*  HOW IT WORKS SECTION */
/* *********************** */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #cce3ff;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #cce3ff;
  z-index: -2;
}
.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #b3d4ff;
  z-index: -1;
}
.step-img {
  width: 35%;
}

/* *********************** */
/*  Workouts SECTION */
/* *********************** */
.section-Workouts {
  padding: 9.6rem 0;
}
.workout {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.workout:hover {
  transform: translateY(-1.2rem);
  cursor: pointer;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.workout-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.workout-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--fullbody {
  background-color: #51cf66;
}
.tag--flexibility {
  background-color: #94d82d;
}
.tag--recovery {
  background-color: #fcc419;
}
.workout-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.workout-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.workout-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}
.workout-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #0166e6;
}
.workout-img {
  width: 100%;
}

.all-workouts {
  text-align: center;
  font-size: 1.8rem;
}

/* *********************** */
/*  TESTIMONIALS SECTION */
/* *********************** */

.section-testimonials {
  /* padding: 9.6rem 0; */
  background-color: #e6f1ff;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* *********************** */
/*  PRICING SECTION */
/* *********************** */

.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #e6f1ff;
  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: #e6f1ff;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  background-color: #0166e6;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #e6f1ff;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  font-size: 2rem;
  color: #0166e6;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
