/* *********************** */
/*  HEADER SECTION */
/* *********************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f1ff;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 3.4rem;
}

/* *********************** */
/*  HERO SECTION */
/* *********************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #0166e6;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #0171ff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0166e6;
}
/* *********************** */
/*  HERO SECTION */
/* *********************** */

.section-hero {
  background-color: #e6f1ff;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.users {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.user-imgs {
  display: flex;
}
.user-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #e6f1ff;
}
.user-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.user-text span {
  color: #0166e6;
  font-weight: 700;
}

/* *********************** */
/*  partner IN SECTION */
/* *********************** */
.section-partner {
  padding: 4.8rem 0 2.4rem 0;
}
.heading-partner-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.6rem;
  color: hsla(213, 100%, 15%, 0.5);
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logos img {
  height: 5.2rem;
  /* filter: brightness(0) saturate(0) invert(74%) sepia(0%) saturate(0%)
    hue-rotate(180deg) brightness(0%) contrast(100%); */
  /* filter: brightness(50%); */

  /* filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(7496%)
    hue-rotate(206deg) brightness(98%) contrast(107%); */

  filter: brightness(0) saturate(100%) invert(10%) sepia(41%) saturate(2351%)
    hue-rotate(197deg) brightness(92%) contrast(104%);

  opacity: 50%;
}
/* *********************** */
/*  HOW IT WORKS SECTION */
/* *********************** */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #cce3ff;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #cce3ff;
  z-index: -2;
}
.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #b3d4ff;
  z-index: -1;
}
.step-img {
  width: 35%;
}
